<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.makemeup">

    //PERMISSION REQUIRED FOR LOCATION
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    //REQUEST FOREGROUND LOCATION ACCESS
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    //REQUIRED ONLY WEN REQUESTING BACKGROUND LOCATION ACCESS ON ANDROID 10
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/makeup1"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MakeMeUp">
        <activity android:name=".LocationActivity"></activity>
        <activity android:name=".ContactActivity" />
        <activity android:name=".LoginRegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>